<a href="https://colab.research.google.com/github/Andreareyes999/Progra-III-2023/blob/main/codigos_de_progra_III_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***PROGRAMACION 3***

Introducción a Python

Declaración de variables

In [ ]:
saludo = "Hola Mundo"
print(saludo)

Hola Mundo

In [ ]:
num1 = 5
num2 = 7.5
resp = num1 + num2
print("La suma de", num1, "+", num2, "=", resp)
print(resp)

La suma de 5 + 7.5 = 12.5
12.5

In [ ]:
name = "Andrea Reyes"
edad = 23
saludo = "Hola "+ name + ", tu edad: "+ str(edad)
print(saludo)

Hola Andrea Reyes, tu edad: 23

In [ ]:
nombre = input("Dime tu nombre: ")
edad = input("Tu edad: ")
saludo = "Hola que tal "+ nombre + ", tu edad: "+ edad
print(saludo)

Dime tu nombre: Andrea Reyes
Tu edad: 22
Hola que tal Andrea Reyes, tu edad: 22

In [ ]:
num1 = float(input("Digite el primer numero: "))
num2 = float(input("Digite el segundo numero: "))
suma= num1 + num2
print("La suma es: ", suma)

Digite el primer numero: 34
Digite el segundo numero: 22
La suma es:  56.0

In [ ]:
num1 = float(input("Digite el primer numero: "))
num2 = float(input("Digite el segundo numero: "))
resta= num1 - num2
print("La resta es: ", resta)

Digite el primer numero: 4
Digite el segundo numero: 3
La resta es:  1.0

In [ ]:
num1 = float(input("Digite el primer numero: "))
num2 = float(input("Digite el segundo numero: "))
mult= num1 * num2
print("La multiplicación es: ", mult)

Digite el primer numero: 7
Digite el segundo numero: 5
La multiplicación es:  35.0

In [ ]:
num1 = float(input("Digite el primer numero: "))
num2 = float(input("Digite el segundo numero: "))
div= num1 / num2
print("La división es: ", div)

Digite el primer numero: 6
Digite el segundo numero: 2
La división es:  3.0

**TIPOS DE DATOS**

In [ ]:
num1 = 5 #variable de tipo entero.
num2 = 4.9 #variable de tipo double, real, decimal.
print("Los valores: Num 1: ", num1, " Num 2: ", num2)

#num1 = 4.9
print("Valor: Num 1: ", num1)

Los valores: Num 1:  5  Num 2:  4.9
Valor: Num 1:  5

In [ ]:
varLogica = False

print("Variable Booleana: ", varLogica)

Variable Booleana:  False

In [ ]:
nombre = "Andrea Saravia"
print("Mi Nombre: ", nombre, "Iniciales: ", nombre[0], nombre[5], "Longitud: ", len(nombre) )
print("Primer Nombre: ", nombre[0:5])
print("Primer Nombre: ", nombre[:5])
print("Apellido: ", nombre[5:len(nombre)])
print("Apellid: ", nombre[5:])
print("Apellido: ", nombre[-9:])

Mi Nombre:  Andrea Saravia Iniciales:  A a Longitud:  14
Primer Nombre:  Andre
Primer Nombre:  Andre
Apellido:  a Saravia
Apellid:  a Saravia
Apellido:  a Saravia

In [ ]:
print(type(num1))
print(type(num2))
print(type(varLogica))
print(type(nombre))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = num1 + num2
print("La suma es: ", resp)

Num 1: 44
Num 2: 22
La suma es:  66.0

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("N4.26um 2: "))
resp = suma(num1, num2)
print(resp)

Num 1: 29
N4.26um 2: 12
41.0

**FUNCIONES DE USUARIO**

* Convertir grados celsius a farenheit.

In [ ]:
def convertir_cf(c):
  return c*9/5 + 32

In [ ]:
c = float(input("Celsius: "))
print("Farenheit: ", convertir_cf(c))

Celsius: 200
Farenheit:  392.0

* Convertir grados farenheit a celsius.

In [ ]:
def convertir_fc(f):
  return (f-32) * 5/9

In [ ]:
f = float(input("Farenheit: "))
print("Celsius: ", convertir_fc(f))

Farenheit: 456
Celsius:  235.55555555555554

* Convertir grados celsius a kelvin.

In [ ]:
def convertir_ck(c):
  return c + 273.15

In [ ]:
c = float(input("Celsius: "))
print("Kelvin: ", convertir_ck(c))

Celsius: 54
Kelvin:  327.15

* Convertir grados farenheit a kelvin.

In [ ]:
def convertir_fk(f):
  return (f - 32) * 5/9 + 273.15

In [ ]:
f = float(input("Farenheit: "))
print("Kelvin: ", convertir_fk(f))

Farenheit: 129
Kelvin:  327.0388888888889

* Convertir grados kelvin a celsius.

In [ ]:
def convertir_kc(k):
  return k - 273.15

In [ ]:
k = float(input("Kelvin: "))
print("Celsius: ", convertir_kc(k))

Kelvin: 50
Celsius:  -223.14999999999998

* Convertir grados kelvin a farenheit.

In [ ]:
def convertir_kf(k):
  return (k - 273.15) * 9/5 + 32

In [ ]:
k = float(input("Kelvin: "))
print("Farenheit: ", convertir_kf(k))

Kelvin: 209.09
Farenheit:  -83.30799999999995

* CALCULAR EL SUELDO MENSUAL

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.09075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11, 9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] +tramo [3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print("Sueldo: ", s, "ISR: ", isr, s*0.9075-isr)

Horas trabajadas: 6
Sueldo:  720.0 ISR:  35.809 617.591

FUNCIONES LAMBDA

* FUNCIONES PRECONTRUIDAS MAP, FILTER, FIND, REDUCE, ETC.

In [ ]:
def elevarCuadrado(num):
  return num**2

In [ ]:
data = [1,2,3,4,5]

In [ ]:
resp = map(elevarCuadrado, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = map(lambda n:n**2, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = filter(lambda n:n>2, data)
print( list(resp) )

[3, 4, 5]

In [ ]:
import functools

resp = functools.reduce(lambda a,n:a+n, data)
print(resp)

15

TUPLAS

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
#semana[0] = "otro"
print( semana.count("domingo") ) #count cuenta el numero de veces que aparece un elemento en la tupla
print( len(semana) )

1
7

**LISTAS => Array**

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
print( meses[-2:] ) #ultimos dos meses del año
print( meses[:2] ) #primero dos meses del año

meses[0] = "enero"

print( meses )

['nov', 'dic']
['ene', 'feb']
['enero', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

In [ ]:
materias = [ ["Progra I", [5,6,8], [8,7,9], [9,10,9] ], ["Progra II"] ]
print( materias[1][0] )

Progra II

DICCIONARIOS => JSON

In [ ]:
materias = {
    "Progra I": {
        "c1": {
          "lab1" : 5,
          "lab2" : 6,
          "parcial" : 8
      },
      "c2": {
          "lab1" : 8,
          "lab2" : 7,
          "parcial" : 9
      },
      "c3": {
          "lab1" : 9,
          "lab2" : 10,
          "parcial" : 9
      }
    },
    "Progra II" :{

    }
}
print( materias["Progra I"]["c1"]["lab1"] )

5

LISTAS

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

[8, 125, 216, 512, 729]

In [ ]:
fahrenheit = map(lambda c: c * 9/5 + 32, data)
print(list(fahrenheit))

[35.6, 41.0, 42.8, 46.4, 48.2]

In [ ]:
par = filter(lambda x: x%2 == 0, data)
print(list(par))

[2, 6, 8]

In [ ]:
impar = filter(lambda x: x%2 != 0, data)
print(list(impar))

[5, 9]

CICLOS

* FOR

In [ ]:
for item in data:
  print(item)

2
5
6
8
9

* **WHILE**

In [ ]:
i=0
n = len(data)
while i<n:
  print( data[i] )
  i+=1

2
5
6
8
9

**TABLA DE MULTIPLICAR**

In [ ]:
num = int(input("Numero: "))
for item in range(1, 11):
  print(num, 'x', item, '=', num*item)

Numero: 20
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [ ]:
num = int(input("Numero: "))
count = 1

while count <= 10:
  num = num * 1
  print(num, 'x', count, '=', num * count)
  count += 1

Numero: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
def calcular_deducciones(sueldo):
    # Deducción ISSS
    deduccion_isss = sueldo * 0.03

    # Deducción AFP
    deduccion_afp = sueldo * 0.0625

    # Deducción ISR
    deduccion_isr = 0
    tabla_isr = [
        [0.01, 472, 0, 0],
        [472.01, 895.24, 0.1, 17.67],
        [895.25, 2038.1, 0.2, 60.00],
        [2038.11, 9999999, 0.3, 288.57]
    ]

    for rango in tabla_isr:
        if sueldo >= rango[0] and sueldo <= rango[1]:
            deduccion_isr = (sueldo - rango[0] + 1) * rango[2] + rango[3]
            break

    # Suma de deducciones
    total_deducciones = deduccion_isss + deduccion_afp + deduccion_isr

    # Calculo de sueldo neto
    sueldo_neto = sueldo - total_deducciones

    return total_deducciones, sueldo_neto

# Obtener el sueldo del usuario
sueldo = float(input("Ingrese el sueldo: "))

total_deducciones, sueldo_neto = calcular_deducciones(sueldo)

# Imprimir resultados
print(f"Total deducciones: ${total_deducciones:.2f}")
print(f"Sueldo neto: ${sueldo_neto:.2f}")

Ingrese el sueldo: 209.67
Total deducciones: $19.39
Sueldo neto: $190.28

In [ ]:
def sueldo(numHrs, valorXhr):
    sueldo_base = numHrs * valorXhr * 30
    if numHrs > 8:
        horas_extras = numHrs - 8
        sueldo_base += horas_extras * valorXhr * 2 * 30
    return sueldo_base

tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11, 9999999, 0.3, 288.57]
]

def calcularIsr(sueldo):
    impSr = 0
    for tramo in tabla_isr:
        if sueldo >= tramo[0] and sueldo <= tramo[1]:
            impSr = (sueldo - tramo[0]) * tramo[2] + tramo[3]
            return impSr
    return impSr

valorXhr = 1.45
numHrs = float(input("Horas trabajadas: "))

sueldo_bruto = sueldo(numHrs, valorXhr)
isss = sueldo_bruto * 0.03
afp = sueldo_bruto * 0.0625
sueldo_neto = sueldo_bruto - isss - afp
impSr = calcularIsr(sueldo_bruto)
sueldo_neto -= impSr

print("Sueldo Bruto:", sueldo_bruto)
print("ISSS:", isss)
print("AFP:", afp)
print("ISR:", impSr)
print("Total Deducciones:", isss + afp + impSr)
print("Sueldo Neto:", sueldo_neto)

Horas trabajadas: 10
Sueldo Bruto: 609.0
ISSS: 18.27
AFP: 38.0625
ISR: 31.369000000000003
Total Deducciones: 87.7015
Sueldo Neto: 521.2985

In [ ]:
def acumulacion_meses(n):
    return n * (n + 1) // 2

meses = int(input("Hasta cuántos meses quieres calcular? "))

print("MESES", " " * 10, "ACUMULACION")
for i in range(1, meses + 1):
    print(i, " " * (15 - len(str(i))), acumulacion_meses(i))

Hasta cuántos meses quieres calcular? 4
MESES            ACUMULACION
1                1
2                3
3                6
4                10

In [ ]:
def caja_a_unidad(cajas):
    return cajas * 25

def unidad_a_caja(unidades):
    cajas_completas = unidades // 25
    unidades_restantes = unidades % 25
    return f"{cajas_completas} cajas y {unidades_restantes} unidades"

def saco_a_libra(sacos):
    return sacos * 50

def libra_a_saco(libras):
    sacos_completos = libras // 50
    libras_restantes = libras % 50
    return f"{sacos_completos} sacos y {libras_restantes} libras"

def fardo_a_unidad(fardos):
    return fardos * 5

def unidad_a_fardo(unidades):
    fardos_completos = unidades // 5
    unidades_restantes = unidades % 5
    return f"{fardos_completos} fardos y {unidades_restantes} unidades"

# Pruebas
print(caja_a_unidad(1))         # 25
print(unidad_a_caja(80))       # "3 cajas y 5 unidades"
print(saco_a_libra(1))         # 50
print(libra_a_saco(130))       # "2 sacos y 30 libras"
print(fardo_a_unidad(1))       # 5
print(unidad_a_fardo(28))      # "5 fardos y 3 unidades"

25
3 cajas y 5 unidades
50
2 sacos y 30 libras
5
5 fardos y 3 unidades

In [ ]:
def caja_a_unidad(cajas):
    return cajas * 25

def unidad_a_caja(unidades):
    cajas_completas = unidades // 25
    unidades_restantes = unidades % 25
    return f"{cajas_completas} cajas y {unidades_restantes} unidades"

def saco_a_libra(sacos):
    return sacos * 50

def libra_a_saco(libras):
    sacos_completos = libras // 50
    libras_restantes = libras % 50
    return f"{sacos_completos} sacos y {libras_restantes} libras"

def fardo_a_unidad(fardos):
    return fardos * 5

def unidad_a_fardo(unidades):
    fardos_completos = unidades // 5
    unidades_restantes = unidades % 5
    return f"{fardos_completos} fardos y {unidades_restantes} unidades"

def main():
    while True:
        print("\nConversor:")
        print("1. Caja a Unidad")
        print("2. Unidad a Caja")
        print("3. Saco a Libra")
        print("4. Libra a Saco")
        print("5. Fardo a Unidad")
        print("6. Unidad a Fardo")
        print("7. Salir")
        opcion = int(input("Selecciona una opción: "))

        if opcion == 1:
            cajas = float(input("Ingresa número de cajas: "))
            print(f"{cajas} cajas son {caja_a_unidad(cajas)} unidades")
        elif opcion == 2:
            unidades = float(input("Ingresa número de unidades: "))
            print(unidad_a_caja(unidades))
        elif opcion == 3:
            sacos = float(input("Ingresa número de sacos: "))
            print(f"{sacos} sacos son {saco_a_libra(sacos)} libras")
        elif opcion == 4:
            libras = float(input("Ingresa número de libras: "))
            print(libra_a_saco(libras))
        elif opcion == 5:
            fardos = float(input("Ingresa número de fardos: "))
            print(f"{fardos} fardos son {fardo_a_unidad(fardos)} unidades")
        elif opcion == 6:
            unidades = float(input("Ingresa número de unidades: "))
            print(unidad_a_fardo(unidades))
        elif opcion == 7:
            print("Hasta luego!")
            break
        else:
            print("Opción no válida. Intenta de nuevo.")

if __name__ == "__main__":
    main()

Conversor:
1. Caja a Unidad
2. Unidad a Caja
3. Saco a Libra
4. Libra a Saco
5. Fardo a Unidad
6. Unidad a Fardo
7. Salir
Selecciona una opción: 1
Ingresa número de cajas: 7
7.0 cajas son 175.0 unidades

Conversor:
1. Caja a Unidad
2. Unidad a Caja
3. Saco a Libra
4. Libra a Saco
5. Fardo a Unidad
6. Unidad a Fardo
7. Salir
Selecciona una opción: 5
Ingresa número de fardos: 12
12.0 fardos son 60.0 unidades

Conversor:
1. Caja a Unidad
2. Unidad a Caja
3. Saco a Libra
4. Libra a Saco
5. Fardo a Unidad
6. Unidad a Fardo
7. Salir
Selecciona una opción: 7
Hasta luego!

**Escribir un programa que pida la nota de un examen (0-10), e imprima por pantalla la calificacion en formato: "Suspenso" si la nota es menor a 5, "Aprobado" si es entre 5 inclusive, y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y "Honorable" si es 10**

In [ ]:
nota = float(input("Ingresa la nota del examen: "))

if nota >= 0 and nota < 5:
  print("Suspenso")
elif nota >= 5 and nota < 7:
  print("Aprobado")
elif nota >= 7 and nota < 9:
  print("Notable")
elif nota >= 9 and nota < 10:
  print("Sobresaliente")
elif nota == 10:
  print("Honorable")
else:
  print("La calificación no puede ser menor que 0 o mayor que 10")

Ingresa la nota del examen: 3.3
Suspenso

In [ ]:
nota = float(input("Nota: "))
if(nota<0 or nota >10):
  print("Nota invalida")
elif(nota<5):
  print("SUSPENSO")
elif(nota<7):
  print("APROBADO")
elif(nota<9):
  print("NOTABLE")
elif(nota<10):
  print("SOBRESALIENTE")
else:
  print("HONORABLE")

Nota: 10
HONORABLE

Escriba un programa que muestre la secuencia fibonacci

In [ ]:
limit = int(input("Limit: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a,"+",b,"=", c)
  b=a
  a=c

Limit: 5
0 + 1 = 1
1 + 0 = 1
1 + 1 = 2
2 + 1 = 3
3 + 2 = 5

PROGRAMACION ORIENTADA A OBJETOS.

* CLASE

In [ ]:
class Calculadora:
  def sumar(self, num1, num2):
    return num1 + num2

* Instancia de una clase

In [ ]:
objCalculadora = Calculadora()

* Objeto

In [ ]:
print ("La suma de 5 + 3 = ", objCalculadora.sumar(5,3))

La suma de 5 + 3 =  8

# Ejercicios - Tareas

Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP (6.25%), ISR (Según tabla) e imprima el total deducciones y sueldo neto.

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.09075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11, 9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] +tramo [3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print("Sueldo: ", s, "ISR: ", isr, s*0.9075-isr)

Horas trabajadas: 9
Sueldo:  1320.0 ISR:  120.52999999999997 1077.37

Calcular el valor a pagar según el número de metros consumidos de agua potable

In [ ]:
def calcular_pago(metros_consumidos):
    # Cuota fija
    if metros_consumidos <= 18:
        return 6

    # Si el consumo es entre 19 y 28 metros
    elif metros_consumidos <= 28:
        exceso_18 = metros_consumidos - 18
        valor_exceso = exceso_18 * 0.45
        return 6 + valor_exceso

    # Si el consumo es de 29 metros en adelante
    else:
        exceso_28 = metros_consumidos - 28
        valor_exceso_28 = exceso_28 * 0.65

        exceso_18 = 28 - 18
        valor_exceso_18 = exceso_18 * 0.45

        return 6 + valor_exceso_18 + valor_exceso_28

# Solicitar el número de metros consumidos
metros = int(input("Introduce el número de metros consumidos: "))

# Calcular el valor a pagar
valor_a_pagar = calcular_pago(metros)

# Mostrar el resultado
print(f"Valor a pagar: ${valor_a_pagar:.2f}")

Introduce el número de metros consumidos: 40
Valor a pagar: $18.30

Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la formula matemática para evitar ciclos.

In [ ]:
def suma_hasta_n(n):
    return n * (n + 1) // 2

try:
    n = int(input("Introduce el número de meses para calcular la acumulación: "))

    if n <= 0:
        print("El número de meses debe ser mayor que cero.")
    else:
        acumulacion = suma_hasta_n(n)
        print(f"La acumulación de meses hasta el mes {n} es {acumulacion}.")

except ValueError:
    print("Por favor, introduce un número válido.")

Introduce el número de meses para calcular la acumulación: 24
La acumulación de meses hasta el mes 24 es 300.

In [ ]:
def suma_hasta_n(n):
    return n * (n + 1) // 2

try:
    n = int(input("Introduce el número de meses para calcular la acumulación: "))

    if n <= 0:
        print("El número de meses debe ser mayor que cero.")
    else:
        print("MESES ------- ACUMULACION")

        acumulacion = 0
        for i in range(1, n + 1):
            acumulacion += i
            print(f"{i} ------- {i} + {acumulacion - i} = {acumulacion}")

except ValueError:
    print("Por favor, introduce un número válido.")

Introduce el número de meses para calcular la acumulación: 7
MESES ------- ACUMULACION
1 ------- 1 + 0 = 1
2 ------- 2 + 1 = 3
3 ------- 3 + 3 = 6
4 ------- 4 + 6 = 10
5 ------- 5 + 10 = 15
6 ------- 6 + 15 = 21
7 ------- 7 + 21 = 28

Conversores: (40%) (10 ítems como mínimo por cada uno)
Monedas (Resuelto en clases)
Longitud
Masa
Almacenamiento
Tiempo
Volumen
Área

* monedas

In [ ]:
monedas_con_equivalencias = {
    "usd": 1,
    "mxn": 17.01,
    "eur": 0.91,
    "btc": 0.000088,
    "Quetzal": 7.89,
    "ColonCosta": 536.55,
    "Yen": 144.91,
    "Arg": 286.87,
    "Sol": 3.66,
    "Rublo": 100

}
print("Monedas disponibles:")
for moneda in monedas_con_equivalencias:
    print(moneda)

nombre_moneda_origen = ""
nombre_moneda_destino = ""
while nombre_moneda_origen not in monedas_con_equivalencias:
    nombre_moneda_origen = input("Moneda origen: ")

while nombre_moneda_destino not in monedas_con_equivalencias:
    nombre_moneda_destino = input("Moneda destino: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_moneda_origen}: "))
equivalencia_origen = monedas_con_equivalencias[nombre_moneda_origen]
equivalencia_destino = monedas_con_equivalencias[nombre_moneda_destino]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_moneda_origen} equivale a {equivalencia:.2f} {nombre_moneda_destino}.")

Monedas disponibles:
usd
mxn
eur
btc
Quetzal
ColonCosta
Yen
Arg
Sol
Rublo
Moneda origen: usd
Moneda destino: eur
Ingresa la cantidad de usd: 100
100.00 usd equivale a 91.00 eur.

* Longitud

In [ ]:
Longitudes = {
    "Centimetros": 100,
    "Metros": 1,
    "Pulgadas": 39.3701,
    "Yardas": 1.09361,
    "Pies": 3.28084,
    "Milimetros": 1000,
    "Kilometros": 0.001,
    "Decimetros": 10
}

In [ ]:
print("Longitudes disponibles:")
for longitudes in Longitudes:
    print(longitudes)

nombre_de_longitud = ""
nombre_longitud_a_convertir = ""
while nombre_de_longitud not in Longitudes:
    nombre_de_longitud = input("Longitud 1: ")

while nombre_longitud_a_convertir not in Longitudes:
    nombre_longitud_a_convertir = input("Longitud 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_longitud}: "))
equivalencia_origen = Longitudes[nombre_de_longitud]
equivalencia_destino = Longitudes[nombre_longitud_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_longitud} equivale a {equivalencia:.2f} {nombre_longitud_a_convertir}.")

Longitudes disponibles:
Centimetros
Metros
Pulgadas
Yardas
Pies
Milimetros
Kilometros
Decimetros
Longitud 1: Metros
Longitud 2: Centimetros
Ingresa la cantidad de Metros: 207
207.00 Metros equivale a 20700.00 Centimetros.

* Masas

In [ ]:
Masas = {
    "Gramo": 1,
    "Decigramo": 0.1,
    "Centigramo": 0.01,
    "Miligramo": 0.001,
    "Decagramo": 10,
    "Hectogramo": 100,
    "Kilogramo": 1000
}

In [ ]:
print("Masas Disponibles:")
for masas in Masas:
    print(masas)

nombre_de_masa = ""
nombre_masa_a_convertir = ""
while nombre_de_masa not in Masas:
    nombre_de_masa = input("Masa 1: ")

while nombre_masa_a_convertir not in Masas:
    nombre_masa_a_convertir = input("Masa 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_masa}: "))
equivalencia_origen = Masas[nombre_de_masa]
equivalencia_destino = Masas[nombre_masa_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_masa} equivale a {equivalencia:.2f} {nombre_masa_a_convertir}.")

Masas Disponibles:
Gramo
Decigramo
Centigramo
Miligramo
Decagramo
Hectogramo
Kilogramo
Masa 1: Gramo
Masa 2: Kilogramo
Ingresa la cantidad de Gramo: 35
35.00 Gramo equivale a 35000.00 Kilogramo.

Realizar un conversor propio, donde especifique el valor de conversión:
1 caja -> 25 unidad. Viceversa 80 unidades – 3/5 -> cajas/unidades
1 saco -> 50 libras. Viceversa 130 libras – 2/30 -> sacos/libras
1 fardo -> 5 unidades. Viceversa 28 unidades – 5/3 -> fardos/unidades

In [ ]:
def convertir_cajas(unidades, a_cajas=True):
    if a_cajas:
        return unidades / 25, unidades % 25
    else:
        return unidades * 25

def convertir_sacos(libras, a_sacos=True):
    if a_sacos:
        return libras / 50, libras % 50
    else:
        return libras * 50

def convertir_fardos(unidades, a_fardos=True):
    if a_fardos:
        return unidades / 5, unidades % 5
    else:
        return unidades * 5

while True:
    print("Conversor de Unidades")
    print("1. Cajas a unidades")
    print("2. Unidades a cajas")
    print("3. Sacos a libras")
    print("4. Libras a sacos")
    print("5. Fardos a unidades")
    print("6. Unidades a fardos")

    opcion = input("Seleccione una opción: ")

    cantidad = float(input("Ingrese la cantidad para convertir: "))

    if opcion == '1':
        print(f"{cantidad} cajas son {convertir_cajas(cantidad, False)} unidades.")
    elif opcion == '2':
        cajas, unidades = convertir_cajas(cantidad)
        print(f"{cantidad} unidades son {int(cajas)} cajas y {int(unidades)} unidades.")
    elif opcion == '3':
        print(f"{cantidad} sacos son {convertir_sacos(cantidad, False)} libras.")
    elif opcion == '4':
        sacos, libras = convertir_sacos(cantidad)
        print(f"{cantidad} libras son {int(sacos)} sacos y {int(libras)} libras.")
    elif opcion == '5':
        print(f"{cantidad} fardos son {convertir_fardos(cantidad, False)} unidades.")
    elif opcion == '6':
        fardos, unidades = convertir_fardos(cantidad)
        print(f"{cantidad} unidades son {int(fardos)} fardos y {int(unidades)} unidades.")
    else:
        print("Opción no válida.")

    continuar = input("¿Desea realizar otra conversión? (s/n): ")
    if continuar.lower() != 's':
        break

Conversor de Unidades
1. Cajas a unidades
2. Unidades a cajas
3. Sacos a libras
4. Libras a sacos
5. Fardos a unidades
6. Unidades a fardos
Seleccione una opción: 3
Ingrese la cantidad para convertir: 78
78.0 sacos son 3900.0 libras.
¿Desea realizar otra conversión? (s/n): n

* almacenamiento

In [ ]:
Almacenamiento = {
    "B": 1,
    "Kb": 0.001,
    "Mb": 1e-6,
    "Gb": 1e-9,
    "Tb": 1e-12,
    "Pb": 1e-15,
    "Eb": 1e+18,
}

In [ ]:
print("Almacenamiento Disponibles:")
for almacenamiento in Almacenamiento:
    print(almacenamiento)

nombre_de_alma = ""
nombre_alma_a_convertir = ""
while nombre_de_alma not in Almacenamiento:
    nombre_de_alma = input("almacenamiento 1: ")

while nombre_alma_a_convertir not in Almacenamiento:
    nombre_alma_a_convertir = input("almacenamiento 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_alma}: "))
equivalencia_origen = Almacenamiento[nombre_de_alma]
equivalencia_destino = Almacenamiento[nombre_alma_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_alma} equivale a {equivalencia:.2f} {nombre_alma_a_convertir}.")

Almacenamiento Disponibles:
B
Kb
Mb
Gb
Tb
Pb
Eb
almacenamiento 1: 1
almacenamiento 1: B
almacenamiento 2: Kb
Ingresa la cantidad de B: 1
1.00 B equivale a 0.00 Kb.

* tiempo

In [ ]:
Tiempo = {
    "min": 60,
    "hora": 1,
    "Dia": 1440,
    "semana": 10080,
    "mes 30": 43200,
    "mes 31": 44640,
}

In [ ]:
print("Tiempo Disponible:")
for tiempo in Tiempo:
    print(tiempo)

nombre_de_tiempo = ""
nombre_tiempo_a_convertir = ""
while nombre_de_tiempo not in Tiempo:
    nombre_de_tiempo = input("tiempo 1: ")

while nombre_tiempo_a_convertir not in Tiempo:
    nombre_tiempo_a_convertir = input("tiempo 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_tiempo}: "))
equivalencia_origen = Tiempo[nombre_de_tiempo]
equivalencia_destino = Tiempo[nombre_tiempo_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_tiempo} equivale a {equivalencia:.2f} {nombre_tiempo_a_convertir}.")

* volumen

In [ ]:
Volumen = {
    "litro": 1,
    "ml": 1000,
    "galon": 0.219969,
    "taza": 3.51951,
    "pinta": 1.75975,
    "onza": 35.1951,
    "cucharada": 56.3121,
    "cucharadita": 168.936,
    "PieCub": 0.0353147,
    "pulgadaCub": 61.0237,
}

In [ ]:
print("Volumenes Disponible:")
for volumen in Volumen:
    print(volumen)

nombre_de_volumen = ""
nombre_volumen_a_convertir = ""
while nombre_de_volumen not in Volumen:
    nombre_de_volumen = input("volumen 1: ")

while nombre_volumen_a_convertir not in Volumen:
    nombre_volumen_a_convertir = input("volumen 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_volumen}: "))
equivalencia_origen = Volumen[nombre_de_volumen]
equivalencia_destino = Volumen[nombre_volumen_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_volumen} equivale a {equivalencia:.2f} {nombre_volumen_a_convertir}.")

* area

In [ ]:
Area = {
    "m2": 1,
    "km2": 1e-6,
    "milla2": 3.861e-7,
    "yarda2": 1.19599,
    "pie2": 10.7639,
    "pulg2": 1550,
    "hec": 1e-4,
    "acre": 0.000247105,
}

In [ ]:
print("Areas Disponible:")
for area in Area:
    print(area)

nombre_de_area = ""
nombre_area_a_convertir = ""
while nombre_de_area not in Area:
    nombre_de_area = input("area 1: ")

while nombre_area_a_convertir not in Area:
    nombre_area_a_convertir = input("area 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_area}: "))
equivalencia_origen = Area[nombre_de_area]
equivalencia_destino = Area[nombre_area_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_area} equivale a {equivalencia:.2f} {nombre_area_a_convertir}.")

Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario

In [ ]:
numeros = int(input("¿Cuántos números deseas ingresar?: "))
suma = 0

for i in range(numeros):
  numero = float(input(f"Ingrese el número {i+1}: "))
  suma += numero

media = suma / numeros

print(f"La media aritmética de los {numeros} números es: {media}")

¿Cuántos números deseas ingresar?: 2
Ingrese el número 1: 38
Ingrese el número 2: 20
La media aritmética de los 2 números es: 29.0

Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabras palindrome: Ana, oso, oro, etc.

In [ ]:
palabra = input("Introduce una palabra: ")
palabra = palabra.lower()

palabra_reversa = palabra[::-1]

if palabra == palabra_reversa:
    print(f"'{palabra}' es un palíndromo.")
else:
    print(f"'{palabra}' no es un palíndromo.")

Introduce una palabra: manzana
'manzana' no es un palíndromo.

Escriba un programa que convierta un numero instroducido por el usuario a su equivalente en numeros romanos. Ejm: 5 -> V

In [ ]:
def romano(n):
    mapa = {
        1: "I",
        4: "IV",
        5: "V",
        9: "IX",
        10: "X",
        40: "XL",
        50: "L",
        90: "XC",
        100: "C",
        400: "CD",
        500: "D",
        900: "CM",
        1000: "M"
    }

    resultado = []

    claves = sorted(mapa.keys(), reverse=True)

    for clave in claves:
        while n >= clave:
            resultado.append(mapa[clave])
            n -= clave

    return "".join(resultado)

try:
    numero = int(input("Introduce un número para convertirlo a números romanos: "))
    if numero <= 0 or numero > 5000:
        print("El número debe estar en el rango de 1 a 5000.")
    else:
        romano = romano(numero)
        print(f"El número {numero} en números romanos es {romano}")
except ValueError:
    print("Por favor, introduce un número válido.")

Introduce un número para convertirlo a números romanos: 200
El número 200 en números romanos es CC

#PARCIAL 1

ESTUDIANTE: Andrea Candelaria Reyes Saravia
CODIGO: USTS611317

2.	Desarrolle el conversor de Área (Superficie) haciendo uso de los diccionarios y las funciones de usuario en Python que contenga las siguientes opciones: (20%)
a.	Pie Cuadrado
b.	Vara Cuadrada
c.	Yarda Cuadrada
d.	Metro Cuadrado
e.	Tareas
f.	Manzana
g.	Hectárea

In [ ]:
Area = {
    "pieC": 10.7639,
    "varaC": 0.688896,
    "yardaC": 1.19599,
    "metroC": 1,
    "tareas": 628.86,
    "manzana": 7000,
    "hectarea": 1e-4,
}

In [ ]:
print("Areas Disponible:")
for area in Area:
    print(area)

nombre_de_area = ""
nombre_area_a_convertir = ""
while nombre_de_area not in Area:
    nombre_de_area = input("area 1: ")

while nombre_area_a_convertir not in Area:
    nombre_area_a_convertir = input("area 2: ")


cantidad = float(input(f"Ingresa la cantidad de {nombre_de_area}: "))
equivalencia_origen = Area[nombre_de_area]
equivalencia_destino = Area[nombre_area_a_convertir]
equivalencia = (equivalencia_destino/equivalencia_origen)*cantidad
print(f"{cantidad:.2f} {nombre_de_area} equivale a {equivalencia:.2f} {nombre_area_a_convertir}.")

Areas Disponible:
pieC
varaC
yardaC
metroC
tareas
manzana
hectarea
area 1: pieC
area 2: varaC
Ingresa la cantidad de pieC: 213
213.00 pieC equivale a 13.63 varaC.